USE [KGCA37]
GO
/****** Object:  StoredProcedure [dbo].[LoginUser]    Script Date: 01/09/2020 16:24:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[LoginUser]
	@PID NCHAR(10)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	UPDATE USERLIST SET LoginTime=GETDATE()
		WHERE USERID=@PID;
END
